<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Company</th>
                <th>Job Name</th>
                <th>Date Applied</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each leeds}}
            <tr>
                <td>{{company}}</td>
                <td>{{job_name}}</td>
                <td>{{date_applied}}</td>
                <td>{{status}}</td>
                <td>
                    <button class="btn btn-primary" onclick="openModalForEdit({{jobID}})">Edit</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
